.navbar {
  background-color: #f8f8f8;
  padding: 12px 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.navLink > a:hover {
  color:#444
}

.navLink {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navLinkActive {
  color: gold;
  padding: 6px 10px;
  text-decoration: none;
}
